<ion-view view-title="Create New QE">
  <!-- do you want padding? -->
  <ion-content class="">

    <!-- content goes here -->
    <div class="list">
      <form ng-submit="ctrl.create(ctrl.name, ctrl.color)">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="i.e. Movies, TV Shows" ng-model="ctrl.name">
        </label>

        <div class="item item-divider">
          Color
        </div>

        <ion-radio ng-model="ctrl.color" ng-value="'blue'" style="color: #2196F3;">Blue</ion-radio>
        <ion-radio ng-model="ctrl.color" ng-value="'red'" style="color: #F44336;">Red</ion-radio>
        <ion-radio ng-model="ctrl.color" ng-value="'pink'" style="color: #E91E63;">Pink</ion-radio>
        <ion-radio ng-model="ctrl.color" ng-value="'green'" style="color: #4CAF50;">Green</ion-radio>

        <label class="item">
          <button class="button button-full button-positive">
            Create QE !
          </button>
        </label>
      </form>
    </div>

  </ion-content>
</ion-view>
